/*Fonts*/

@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

/*Global styles*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  block-size: 100%;
}

body {
  min-inline-size: 1280px;
  block-size: 100%;
  margin: 0;
  background-color: #f2f2f2;
  color: #333333;
  font-family: PT Sans, Arial, sans-serif;
  font-size: 18px;
  line-height: 21px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

/*Buttons*/

.button {
  display: inline-block;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  background-color: transparent;
  color: #ffffff;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

.button--basic {
  background-color: #756157;
}

.button--second {
  background-color: #82b3d3;
}

.button--select {
  background-color: #7db54f;
}

.button--big {
  font-size: 20px;
  line-height: 36px;
}

/*Input*/

.input {
  padding: 12px 20px;
  border: none;
  background-color: #f2f2f2;
}

/*Titles*/

:is(.second-title, .third-title) {
  color: #000000;
  text-transform: uppercase;
}

.first-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.second-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.third-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

/*Wrapper*/

.page-body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  inline-size: 1200px;
  min-block-size: 100%;
  margin-inline: auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 #00000033;
}

/*Header*/

.page-header {
  padding-inline: 70px;
  color: #000000;
}

.page-header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}


.main-nav__logo {
  position: relative;
  margin-block-end: -6px;
  z-index: 1;
}

.main-nav__logo-img {
  display: block;
  inline-size: 138px;
}

.main-nav__list {
  margin: 0;
}

:is(.site-nav, .user-nav) {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  list-style-type: none;
}

.site-nav {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.site-nav__link {
  display: block;
  padding: 20px 16px;
}

.user-nav {
  margin-inline-start: auto;
}

:is(.site-nav__link, .user-nav__link) {
  color: inherit;
  text-decoration: none;
}

.user-nav__item:not(:last-of-type) .user-nav__link {
  display: block;
  min-inline-size: 44px;
  min-block-size: 64px;

  background-repeat: no-repeat;
  background-position: left 12px top 22px;
  background-size: 20px 20px;
}

.user-nav__link--search {
  background-image: url("../icons/seach.svg");
}

.user-nav__link--like {
  background-image: url("../icons/like.svg");
}

/*.user-nav__item:last-of-type {
  margin-inline-start: 20px;
}*/

.user-nav__button {
  margin-inline-start: 20px;
  min-inline-size: 160px;
}

/*Invite*/

.invite {
  position: relative;
  padding-block: 51px 82px;
  background-color: #83B3D333;
  background-image: url("../images/triangle.svg"), url("../images/index-background.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: 100%, 100%;
  background-position: bottom, center;
  text-align: center;
}

.invite__img {
  display: inline-block;
  inline-size: 458px;
}

/*Intro*/
.intro__slogan {
  margin-block: 0 20px;
}

.intro__text {
  margin-block: 0;
  font-size: 22px;
  line-height: 26px;
}

/*Advantages*/

.advantages {
  padding-block-start: 69px;
  text-align: center;
}

.advantages__intro {
  margin-block-end: 90px;
}

.advantages .intro__slogan {
  margin-block-end: 25px;
}

/*.advantages__intro .intro__slogan {
  margin-block-end: 25px;
}*/

.advantages__list {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-auto-flow: dense;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages__description {
  padding: 112px 85px;
}

.advantages__title {
  margin-block: 0 62px;
  padding-inline: 29px;
}

.advantages__text {
  margin: 0;
}

.advantages__item:nth-of-type(odd) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages__item:nth-of-type(even) {
  background: rgba(131, 179, 211, 0.12);
}

.advantages__item:has(.advantages__img) {
  display: flex;
  grid-column: span 3;
  background-color: #82b3d3;
  color: #ffffff;
}

.advantages__list :nth-child(even of .advantages__item:has(.advantages__img)) {
  flex-direction: row-reverse;
}

.advantages__item:has(.advantages__img) .advantages__description {
  padding-block: 102px;
}

.advantages__item:has(.advantages__img) .advantages__title {
  color: #ffffff;
}

.advantages__img {
  display: block;
  inline-size: 800px;
}

/*Services*/

.services {
  padding-block-start: 64px;
  text-align: center;
}

.services__intro {
  margin-block-end: 64px;
}

.services__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: dense;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.services__item {
  position: relative;
  padding-inline: 85px;
  padding-block: 183px 81px;

  &::after {
    position: absolute;
    content: "";
    left: 150px;
    top: 70px;
    inline-size: 84px;
    block-size: 84px;
    background-repeat: no-repeat;
  }
}

.services__item--home::after {
  background-image: url("../icons/house.svg");
}

.services__item--eat::after {
  background-image: url("../icons/burger.svg");
}

.services__item--gift::after {
  background-image: url("../icons/gift.svg");
}

.services__item:nth-of-type(odd) {
  background-color: #83B3D31F;
}

.services__title {
  margin-block: 0 30px;
}

.services__description {
  margin: 0;
}

/*Search*/

.search {
  padding-block: 96px;
  text-align: center;
}

.search__intro {
  margin-block-end: 54px;
}

.search__button {
  min-inline-size: 376px;
}

/*Subscribe*/

.subscribe {
  padding-inline: 258px;
  padding-block: 96px 104px;
  text-align: center;
}

.subscribe__intro {
  margin-block-end: 54px;
}

.subscribe--bg {
  background-color: #333333;
  background-image: url("../images/subscribe-background.jpg");
  background-size: cover;
  color: #ffffff;
}

.subscribe--bg .intro__slogan {
  color: #ffffff;
}

.subscribe__form {
  display: flex;
  inline-size: 100%;
}

.subscribe__input {
  flex-grow: 1;
  border-radius: 4px 0 0 4px;
}

.subscribe__button {
  min-inline-size: 232px;
  border-radius: 0 4px 4px 0;
  color: #ffffff;

}

/*Footer*/

.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 42px;
  padding-inline: 70px;
  padding-block: 40px 30px;
  color: #000000;
}

.page-footer__list {
  margin-block: 5px;
}

.socials {
  display: flex;
  padding: 0;
  list-style-type: none;
}

.socials__link {
  position: relative;
  display: block;
  inline-size: 48px;
  block-size: 40px;

  &::after {
    position: absolute;
    content: "";
    inline-size: 48px;
    block-size: 40px;
    background-color: #82b3d3;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 25px 15px;
  }
}

.socials__link--vk::after {
  mask-image: url("../icons/vk.svg");
}

.socials__link--tg::after {
  mask-image: url("../icons/tg.svg");
}

.socials__link--yt::after {
  mask-image: url("../icons/yt.svg");
}

.socials__link:hover::after {
  background-color: #68a2ca;
}

.page-footer__phone {
  color: inherit;
  font-size: 40px;
  line-height: 40px;
  font-style: normal;
  text-decoration: none;
}

.page-footer__copyright {
  position: relative;
  display: block;
  inline-size: 115px;
  block-size: 33px;
  margin-block: 8px;

  &::after {
    position: absolute;
    content: "";
    inline-size: 115px;
    block-size: 33px;
    background-color: #000000;
    mask-image: url("../icons/logo-htmlacademy.svg");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
  }
}


/*Catalog-header*/

.catalog-header {
  padding-inline: 70px;
  padding-block: 35px 70px;
  background-color: #83B3D333;
  background-image: url("../images/catalog-background.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  color: #ffffff;
}

.catalog-header__title {
  margin-block: 0 8px;
}

.catalog-header__breadcrumbs {
  margin-block: 0 40px;
}

.breadcrumbs {
  display: flex;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs__item:not(:last-of-type) {
  padding-inline-end: 28px;
  background-image: url("../icons/arrow-right.svg");
  background-repeat: no-repeat;
  background-size: 8px 11px;
  background-position: center right 10px;
}

.breadcrumbs__link {
  position: relative;
  display: block;
  color: inherit;
  text-decoration: none;
}

.breadcrumbs__item:first-of-type .breadcrumbs__link {
  inline-size: 13px;
  block-size: 15px;
  padding-block: 3px;

  &::after {
    position: absolute;
    content: "";
    inline-size: 13px;
    block-size: 15px;
    background-color: #ffffff;
    mask-image: url("../icons/home.svg");
    mask-repeat: no-repeat;
    mask-position: center top;
    mask-size: 12px 12px;
  }
}

/*Filter*/

.catalog-header__form {
  display: flex;
  justify-content: space-between;
  gap: 70px;

}

.filter__group {
  min-inline-size: 150px;
  margin: 0;
  padding: 0;
  border: none;
}

.filter__title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.filter__list {
  margin-block: 0;
  padding-inline: 0;
  list-style-type: none;
  line-height: 23px;
}

.range {
  margin-inline-start: auto;
}

.range__inputs {
  display: flex;
}

.range__input {
  inline-size: 143px;
}


.filter__buttons {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.filter__button {
  min-inline-size: 191px;
}

/*Catalog*/

.catalog {
  padding-inline: 70px;
  padding-block: 50px 60px;
}

/*Sorting*/

.catalog__header {
  margin-block-end: 40px;
}

.sorting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 70px;
}

.sorting__title {
  margin-block: 6px;
}

.sorting__select {
  inline-size: 292px;
  margin-inline-start: auto;
  padding-inline: 20px 52px;
  padding-block: 14px;
  border: none;
  outline: 2px solid #e5e5e5;
  border-radius: 4px;
  font: inherit;
  background-image: url("../icons/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  appearance: none;
}

.sorting__view {
  display: flex;
  gap: 8px;
}

.sorting__toggle {
  position: relative;
  display: block;
  inline-size: 48px;
  block-size: 48px;
  outline: 2px solid #e5e5e5;
  border-radius: 4px;

  &::after {
    position: absolute;
    content: "";
    inline-size: 48px;
    block-size: 48px;
    background-color: #000000;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 16px 14px;
  }
}

.sorting__toggle--table::after {
  mask-image: url("../icons/table-view.svg");
}

.sorting__toggle--gallery::after {
  mask-image: url("../icons/gallery-view.svg");
}

.sorting__toggle--list::after {
  mask-image: url("../icons/list-view.svg");
}

.sorting__toggle--current {
  outline: 2px solid #000000;
}

/*Products*/

.catalog__products {
  margin-block: 0 80px;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  padding-inline: 0;
  list-style-type: none;
}

/*Card*/

.card {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  row-gap: 16px;
  column-gap: 20px;
  padding: 20px;
}

.card__link {
  grid-column: span 2;
  text-decoration: none;
}

.card__img {
  display: block;
  inline-size: 300px;
}

.card__title {
  margin-block: 16px 0;
  color: #000000;
  text-transform: none;
}

.card__price {
  text-align: end;
}

.card__rating {
  padding-inline: 23px 22px;
  padding-block: 8px 9px;
  border-radius: 4px;
  background-color: #f2f2f2;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: end;
}

/*Pagination*/

.catalog__pagination {
  margin-block: 0;
}

.pagination {
  display: flex;
  gap: 8px;
  padding-inline: 0;
  list-style-type: none;
}

.pagination__link {
  display: flex;
  flex-wrap: wrap;
  place-content: center;
  inline-size: 60px;
  block-size: 60px;
  border-radius: 4px;
  background-color: #82b3d3;
  color: #ffffff;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-decoration: none;
}

.pagination__link--not-link {
  margin-block: 0;
}
